body{background-color: #eeeeee;}
.tela {background-color: #eeeeee;}
.logo_entrada{max-width: 300px; margin-left:20%; margin-top:5%}
.titulo_entrada{
    font-size: 20px; font-weight: bold; margin-left: -20%; 
    margin-top: -10px; text-align: center; line-height: 18px; 
    color:#393e46
}
.botao_entrada{
  display: inline-block; background-color: #0092ca; padding: 5px 25px; 
  margin:5px; text-decoration: none; color:#fff; 
  margin-left:60%; padding-right: 100px;
}
.menu_entrada{margin-top: -21%;}

/* FORMATAÇÃO PÁGINAS */
.titulo_pagina{
  margin-left:10%; font-size: 22px; font-weight: bold; 
  border-bottom: 8px groove #0092ca; width: 80%;
}
.paragrafo{margin-left:10%; font-size: 14px; color:#393e46}
fieldset{padding:20px; margin-bottom: 20px; margin-left: 20px; width: 70%;}
legend{padding:6px; background-color: #0092ca; color:#fff}
label{font-weight: bold; font-size: 12px; margin-right: 5px;}
input, select{margin-right: 20px; padding: 4px;}



